 html,
 body {
   margin: 0;
   padding: 0;
   height: 100vh;
 }

 .main-container {
   display: grid;
   height: 100vh;
   grid-template-rows: min-content auto min-content;
   grid-template-areas:
     "container-header"
     "container-main"
     "container-footer";

   &>header {
     grid-area: container-header;
     padding: 0.4rem;
     background-color: black;
   }

   &>main.container {
     grid-area: container-main;
     position: relative;
     height: 100%;
     padding: 0.4rem;
     overflow: auto;
     overflow-y: auto;
   }

   &>footer {
     grid-area: container-footer;
     background-color: var(--surface-50);
     padding: 0.4rem;
     color: var(--text-color);
     bottom: 0;
     z-index: 1;
     width: 100%;
   }
 }